@model CosmeticsShop.Models.User
@{
    ViewBag.Title = "User Information";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

            <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
                    <h3 class="mb-4">Thông tin tài khoản</h3>
                    <div class="alert alert-success">
                        <i class="bi bi-star"></i>@ViewBag.Message
                    </div>
                    @using (Html.BeginForm("infor", "User", FormMethod.Post))
                    {

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Họ và tên</label>
                                    <input type="text" name="Name" class="form-control" required value="@Model.Name">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" name="Email" class="form-control" required value="@Model.Email">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Phone number</label>
                                    <input type="text" name="Phone" class="form-control" required value="@Model.Phone">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Địa chỉ</label>
                                    <textarea class="form-control" rows="4" name="Address" required>@Model.Address</textarea>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-primary" type="submit">Lưu</button>
                                <button class="btn btn-light">Cancel</button>
                            </div>
                        </div>

                    }


                </div>
                <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
                    <h3 class="mb-4">Thay đổi mật khẩu</h3>
                    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Old password</label>
                                    <input type="password" name="OldPassword" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>New password</label>
                                    <input type="password" name="Password" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Confirm new password</label>
                                    <input type="password" required oninput="check(this)" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit">Lưu</button>
                            <button class="btn btn-light" type="reset" >Cancel</button>
                        </div>
                    }
                </div>
                <div class="tab-pane fade" id="donhang" role="tabpanel" aria-labelledby="donhang-tab">
                    <h3 class="mb-4">Đơn Hàng Của Tôi</h3>
                    <div>
                        <div class="py-2">
                            <div class="navbar-nav d-flex flex-row">
                                <a class="nav-item nav-link active badge badge-light p-0 px-2 py-2" href="#processing" data-toggle="tab">Chưa duyệt</a>
                                <a class="nav-item nav-link badge badge-light p-0 px-2 py-2" href=" #processed" data-toggle="tab">Đã duyệt</a>
                                <a class="nav-item nav-link badge badge-light p-0 px-2 py-2" href="#delivering" data-toggle="tab">Đang giao hàng</a>
                                <a class="nav-item nav-link badge badge-light p-0 px-2 py-2" href="#complete" data-toggle="tab">Hoàn thành</a>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="processing">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Ngày đặt</th>
                                            <th scope="col">Thanh toán</th>
                                            <th scope="col">Trạng thái</th>
                                            <th scope="col">Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.Orders.Where(x => x.Status == "Processing").Count() > 0)
                                        {
                                            foreach (var item in Model.Orders.Where(x => x.Status == "Processing"))
                                            {
                                                <tr>
                                                    <td scope="row">@item.ID</td>
                                                    <td>@item.DateOrder.Value.ToString("dd/MM/yyyy")</td>
                                                    @if (item.IsPaid.Value)
                                                    {
                                                        <td><span class="label label-success">Đã thanh toán</span></td>
                                                    }
                                                    else
                                                    {
                                                        <td><span class="label label-warning">Chưa thanh toán</span></td>
                                                    }
                                                    <td><span class="label label-warning">Chưa duyệt</span></td>
                                                    <td>
                                                        <a href="/User/OrderDetails/?ID=@item.ID" class="btn btn-outline-secondary">Chi tiết</a>

                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>
                                                    Không có đơn hàng chưa duyệt...
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="processed">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Ngày đặt</th>
                                            <th scope="col">Ngày nhận(dự kiến)</th>
                                            <th scope="col">Thanh toán</th>
                                            <th scope="col">Trạng thái</th>
                                            <th scope="col">Tình trạng giao hàng</th>
                                            <th scope="col">Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.Orders.Where(x => x.Status == "Processed").Count() > 0)
                                        {
                                            foreach (var item in Model.Orders.Where(x => x.Status == "Processed"))
                                            {
                                                <tr>
                                                    <td scope="row">@item.ID</td>
                                                    <td>@item.DateOrder.Value.ToString("dd/MM/yyyy")</td>
                                                    <td>@item.DateShip.Value.ToString("dd/MM/yyyy")</td>
                                                    @if (item.IsPaid.Value)
                                                    {
                                                        <td><span class="label label-success">Đã thanh toán</span></td>
                                                    }
                                                    else
                                                    {
                                                        <td><span class="label label-warning">Chưa thanh toán</span></td>
                                                    }
                                                    <td><span class="label label-success">Đã duyệt</span></td>
                                                    <td><span class="label label-warning">Chưa giao</span></td>
                                                    <td>
                                                        <a href="/User/OrderDetails/?ID=@item.ID" class="btn btn-outline-secondary">Chi tiết</a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>
                                                    Không có đơn hàng chưa duyệt...
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="delivering">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Ngày đặt</th>
                                            <th scope="col">Ngày nhận(dự kiến)</th>
                                            <th scope="col">Thanh toán</th>
                                            <th scope="col">Tình trạng giao hàng</th>
                                            <th scope="col">Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.Orders.Where(x => x.Status == "Delivering").Count() > 0)
                                        {
                                            foreach (var item in Model.Orders.Where(x => x.Status == "Delivering"))
                                            {
                                                <tr>
                                                    <td scope="row">@item.ID</td>
                                                    <td>@item.DateOrder.Value.ToString("dd/MM/yyyy")</td>
                                                    <td>@item.DateShip.Value.ToString("dd/MM/yyyy")</td>
                                                    @if (item.IsPaid.Value)
                                                    {
                                                        <td><span class="label label-success">Đã thanh toán</span></td>
                                                    }
                                                    else
                                                    {
                                                        <td><span class="label label-warning">Chưa thanh toán</span></td>
                                                    }
                                                    <td><a href="/User/Complete/@item.ID">Đang giao(click vào nếu đã nhận được hàng)</a></td>
                                                    <td>
                                                        <a href="/User/OrderDetails/?ID=@item.ID" class="btn btn-outline-secondary">Chi tiết</a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>
                                                    Chưa có đơn hàng đang giao...
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="complete">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Ngày đặt</th>
                                            <th scope="col">Ngày nhận</th>
                                            <th scope="col">Trạng thái</th>
                                            <th scope="col">Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.Orders.Where(x => x.Status == "Complete").Count() > 0)
                                        {
                                            foreach (var item in Model.Orders.Where(x => x.Status == "Complete"))
                                            {
                                                <tr>
                                                    <td scope="row">@item.ID</td>
                                                    <td>@item.DateOrder.Value.ToString("dd/MM/yyyy")</td>
                                                    <td>@item.DateShip.Value.ToString("dd/MM/yyyy")</td>
                                                    <td><span class="label label-success">Hoàn thành</span></td>
                                                    <td>
                                                        <a href="/User/OrderDetails/?ID=@item.ID" class="btn btn-outline-secondary">Chi tiết</a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>
                                                    Chưa có đơn hàng hoàn thành...
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
